* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;
}

.title-bar {
  background: #4169E1;
  color: #ffffff;
}

.title-bar__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}

.player {
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.player__name {
  font-weight: 300;
  font-size: 1.8rem;
}

.player__stats {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}

.player__action {
  flex-shrink: 0;
}

.item {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.form {
  display: flex;
}

.form__input {
  border: 1px solid #e8e8e8;
  flex-grow: 1;
  padding: 0 1.3rem 0 1.3rem;
}

.button {
  background: white;
  border: 1px solid #555555;
  color: #555555;
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  margin-left: 1.3rem;
  outline: none;
  padding: 1.3rem;
  transition: background .2s ease, trasform .2s ease;
}
.button:hover, .button:focus {
    background: #87CEFA;
    border: 1px solid #DC143C;
}

.button:active {
  background: #cccccc;
  transform: scale(1.5);
}

.button--round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
