/* SCSS declarations go here */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}

@import "./components/title-bar";
@import "./components/wrapper";
@import "./components/item";
@import "./components/button";
@import "./components/form";
@import "./components/player";
