.button {
  background: white;
  border: 1px solid #555555;
  color: #555555;
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  margin-left: 1.3rem;
  outline: none;
  padding: 1.3rem;
  transition: background .2s ease, trasform .2s ease;

  &:hover, &:focus {
    background: #87CEFA;
    border: 1px solid #DC143C;
  }

  &:active {
    background: #cccccc;
    transform: scale(1.5);
  }
}

.button--round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
